* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    background-color: #FFEBD9;
    color: #000000;
}

header {
    background-color: #FFEBD9;
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: flex-end; /* Change this from space-around to flex-end */
    list-style-type: none;
    background-color: #FFEBD9;
    color: #000000;
}

nav li {
    margin-left: 1rem; /* Add some spacing between the nav items */
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

h2 {
    margin-bottom: 1rem;
}

.about {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.about-content {
    text-align: center;
}

.about-content h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.about-content p {
    font-size: 1.25rem;
    font-weight: normal;
}

.list-100-content h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.list-100-content li {
    font-size: 1.00rem;
}

.list-100-content {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

.list-100-content p {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.cursor {
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}